<%= form_with(model: task, local: true) do |form| %>
  <% if task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(task.errors.count, "#{t('view.error')}") %> <%= t('view.save_errors') %></h2>

      <ul>
      <% task.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label t('view.title') %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label t('view.content') %>
    <%= form.text_area :content %>
  </div>

  <div class="field">
    <%= form.label t('view.importance') %>
    <%#<%= form.text_area :importance %>
    <%= form.select :importance, [["高", "高"], ["中", "中"],  ["低", "低"]] %>

  </div>

  <div class="field">
    <%= form.label t('view.status') %>
    <%= form.select :status, [["未着手", "未着手"], ["作業中", "作業中"],  ["完了", "完了"]] %>
  </div>

  <div class="field">
    <%= form.label t('view.deadline') %>
    <%= form.date_select :deadline %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
