<p id="notice"><%= notice %></p>

<h1 class="index_title"><%= t('view.tasks') %></h1>

<table class="index_table">
  <thead>
    <tr>
      <th><%= t('view.title') %></th>
      <th><%= t('view.content') %></th>
      <th class="list_importance"><%= link_to t('view.importance'), tasks_path(sort_importance: "true") %></th>
      <th class="list_status"><%= t('view.status') %></th>
      <th class="list_deadline"><%= link_to t('view.deadline'), tasks_path(sort_expired: "true") %></th>
      <th class="list_button"></th>
      <th class="list_button"></th>
      <th class="list_button"></th>
    </tr>
  </thead>

  <tbody>

    <% @tasks.each do |task| %>
      <tr class= "task_list_parts">
        <td><%= task.title %></td>
        <td><%= task.content %></td>
        <td class="list_importance_td"><%= task.importance %></td>
        <td class="list_status_td"><%= task.status %></td>
        <td class="list_deadline_td"><%= task.deadline.strftime("%Y-%m-%d") %></td>
        <td><%= link_to t('view.show'), task %></td>
        <td><%= link_to t('view.edit'), edit_task_path(task) %></td>
        <td><%= link_to t('view.delete'), task, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
    <%= paginate @tasks %>
  </tbody>

</table>

<h3 class="search_form">検索</h3>
<%= form_tag(tasks_path, method: :get) do %>
  <%= text_field_tag :sort_title, "",{placeholder: "タイトルを入力"} %>
  <%= select_tag :sort_status, options_for_select(["作業中","完了","未着手"]), include_blank: "タスクの状態" %>
  <%= submit_tag '絞り込み検索', name: nil %>
<% end %>

<br>

<p><%= link_to t('view.new_task'), new_task_path %> |
<%= link_to t('view.return_sort'), tasks_path(sort_expired: "") %></p>
