
<div class="task_parts">
  <p>
    <strong><%= t('view.title') %>:</strong>
    <%= @task.title%>
  </p>
</div>
<div class="task_parts">
  <p>
    <strong><%= t('view.content') %>:</strong>
    <%= @task.content %>
  </p>
</div>
<div class="task_parts">
  <p>
    <strong><%= t('view.importance') %>:</strong>
    <%= @task.importance %>
  </p>
</div>

<div class="task_parts">
  <p>
    <strong><%= t('view.status') %>:</strong>
    <%= @task.status %>
  </p>
</div>
<div class="task_parts">
  <p>
    <strong><%= t('view.deadline') %>:</strong>
    <%= @task.deadline.strftime("%Y年%m月%d日") %>
  </p>
</div>


<%= link_to t('view.edit'), edit_task_path(@task) %> |
<%= link_to t('view.index'), tasks_path %> 

