<p id="notice"><%= notice %></p>

<p>
  <strong><%= t('view.title') %>:</strong>
  <%= @task.title %>
</p>

<p>
  <strong><%= t('view.content') %>:</strong>
  <%= @task.content %>
</p>

<%= link_to t('view.edit'), edit_task_path(@task) %> |
<%= link_to t('view.index'), tasks_path %>
