<p id="notice"><%= notice %></p>

<p>
  <strong><%= t('view.title') %>:</strong>
  <%= @task.title %>
</p>

<p>
  <strong><%= t('view.content') %>:</strong>
  <%= @task.content %>
</p>

<p>
  <strong><%= t('view.importance') %>:</strong>
  <%= @task.importance %>
</p>

<p>
  <strong><%= t('view.status') %>:</strong>
  <%= @task.status %>
</p>

<p>
  <strong><%= t('view.content') %>:</strong>
  <%= @task.deadline.strftime("%Y年%m月%d日") %>
</p>



<%= link_to t('view.edit'), edit_task_path(@task) %> |
<%= link_to t('view.edit'), edit_task_path(@task) %> |
<%= link_to t('view.index'), tasks_path %> 

