<p id="notice"><%= notice %></p>

<div class="task_parts">
  <p>
    <strong><%= t('view.name') %>:</strong>
    <%= @user.name %>
  </p>
</div>
<div class="task_parts">
  <p>
    <strong><%= t('view.email') %>:</strong>
    <%= @user.email %>
  </p>
</div>


<%= link_to t('view.index'), tasks_path %> 

