
<div class="task_parts">
  <p>
    <strong><%= t('view.name') %>:</strong>
    <%= @user.name %>
  </p>
</div>
<div class="task_parts">
  <p>
    <strong><%= t('view.email') %>:</strong>
    <%= @user.email %>
  </p>
</div>

<% @user.tasks.each do |t| %>
<% end %>

<h2>作成したタスク一覧</h2>
<hr>
<table class="index_table">
  <thead>
    <tr>
      <th><%= t('view.title') %></th>
      <th><%= t('view.content') %></th>
      <th class="list_importance"><%= link_to t('view.importance'), tasks_path(sort_importance: "true") %></th>
      <th class="list_status"><%= t('view.status') %></th>
      <th class="list_deadline"><%= link_to t('view.deadline'), tasks_path(sort_expired: "true") %></th>
      <th class="list_button"></th>
      <th class="list_button"></th>
      <th class="list_button"></th>
    </tr>
  </thead>

  <tbody>

    <% (@user.tasks).each do |task| %>
      <tr class= "task_list_parts">
        <td><%= task.title %></td>
        <td><%= task.content %></td>
        <td class="list_importance_td"><%= task.importance %></td>
        <td class="list_status_td"><%= task.status %></td>
        <td class="list_deadline_td"><%= task.deadline.strftime("%Y-%m-%d") %></td>
        <td><%= link_to t('view.show'), task %></td>
        <td><%= link_to t('view.edit'), edit_task_path(task) %></td>
        <td><%= link_to t('view.delete'), task, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>

</table>


<%= link_to t('view.index'), admin_users_path %> 

