<!DOCTYPE html>
<html>
  <head>
    <title>Manyou</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <header class="container-fluid">
    <div class="container">
      <h1>万葉課題</h1>
    </div>
    
  </header>
  <div class="wrapper container">
    <%= yield %>
  </div>
  <footer class="container-fluid">
    <div class="container">
      <h1>footerです</h1>
    </div>
  </footer>
  </body>
</html>
